@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes gradientAnimation {
  0% {
    background: radial-gradient(ellipse 80% 80% at top, #077BCD, #3088D8, #005AA2, #004D98, #0D0379),
                linear-gradient(45deg, #077BCD, #3088D8, #005AA2, #004D98, #0D0379);
  }
  25% {
    background: radial-gradient(ellipse at bottom, #3088D8, #005AA2, #004D98, #0D0379, #077BCD),
                linear-gradient(45deg, #3088D8, #005AA2, #004D98, #0D0379, #077BCD);
  }
  50% {
    background: radial-gradient(ellipse 80% 150% at left, #005AA2, #004D98, #0D0379, #077BCD, #3088D8),
                linear-gradient(45deg, #005AA2, #004D98, #0D0379, #077BCD, #3088D8);
  }
  75% {
    background: radial-gradient(ellipse 150% 120% at right, #004D98, #0D0379, #077BCD, #3088D8, #005AA2),
                linear-gradient(45deg, #004D98, #0D0379, #077BCD, #3088D8, #005AA2);
  }
  100% {
    background: radial-gradient(ellipse 150% 200% at center, #0D0379, #077BCD, #3088D8, #005AA2, #004D98),
                linear-gradient(45deg, #0D0379, #077BCD, #3088D8, #005AA2, #004D98);
  }
}

body {
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: '#fff';
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at top, #077BCD, #3088D8, #005AA2, #004D98, #0D0379),
              linear-gradient(45deg, #077BCD, #3088D8, #005AA2, #004D98, #0D0379);
  background-blend-mode: overlay;
  animation: gradientAnimation 15s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
